<div class="row">
  <div class="col-md-8">
    <ul id="conversations-list">
      <% @conversations.each do |conversation| %>
        <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">User list</h3>
        <div class="card-text">
          <ul class="list-group">
            <% @users.each do |user| %>
              <li class="list-group-item"><%= link_to user.email, conversations_path(user_id: user), remote: true, method: :post %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
 </div>
</div>