<div class="container text-center mt-4">
  <h4>What are you looking for?</h4>
  <img width="300px" src="http://localhost:3000/assets/404-361b2faad71b5543c51e6f2931dc4aab1d9c85876a195b28b9db3999b13b8f7d.jpg">
  <h4 >let's you just believe there's nothing here</h4>
</div>