<div class='container Foundation-form'>
  <h2>Request for registration of a new foundation</h2> 
  <%= react_component('FoundationForm', { profile: current_user.profile, foundation: current_user.foundation}) %>
</div>