<div class='container waitpage' >
  <h2>Thank you for registration!</h2>
  <div class="alert alert-danger" role="alert">
    Please wait for a while, we check data for approve your account. You will receive a letter of any changes to the email address provided during registration. If within 3 days account will not occur, contact support.
  </div>
</div>
<%= react_component('IndexPage', 
  { 
    foundations: @foundations,
    current_user: current_user
  })
%>