// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Groups {
  width: 100%
}

.NewGroupForm {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
}

.NewGroupForm button {
  width: 100%;
}